.build-order-list-title {
    cursor: pointer;
}

.fa-btn-wrapper {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 0.75rem;
    margin-right: 0.5rem;
    padding: 0;
}

th {
    text-align: left;
}

td,
th {
    padding-right: 1rem;
}
