#login-modal {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.login-modal-inner-container {
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    position: relative;
    max-width: 296px;
}

.login-modal-buttons {
    margin-top: 0.5rem;
}

.login-modal-left,
.login-modal-right {
    width: 50%;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
}

.login-modal-left > button,
.login-modal-right > button {
    background: none;
    border: none;
    font-size: large;
    color: #333;
    cursor: pointer;
    line-height: 1.5;
    width: 100%;
    height: 100%;
}

.login-modal-left {
    border-right: 1px solid #ddd;
}

.login-modal-loading {
    background: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
    animation: rotate 1s infinite linear;
    border-top: 2px solid #333;
    border-radius: 999px;
    margin: 1rem auto 0.5rem;
}

.login-modal-cancel {
    position: absolute;
    top: 0.25rem;
    right: 0.75rem;
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
}

.login-modal-cancel:hover {
    color: #ef5350;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
