input,
textarea {
    font-size: inherit;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    border: 1px solid #ddd;
    outline: none;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    background: inherit;
    border-radius: 3px;
}

label {
    display: block;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.build-order-editor > div > div {
    margin: 1rem 0;
}

.build-order-editor ul {
    margin: 0;
}

textarea[name='description'] {
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    box-sizing: border-box;
}

.add-timezoneeditor {
    background: inherit;
}

.timezone-editor {
    padding-left: 1rem;
    border-left: 0.25rem solid #ededed;
}

.delete-section-btn {
    margin-left: 1rem;
}

.delete-step-btn {
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    margin-left: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.delete-step-btn:hover {
    color: #ef5350;
}

.add-step-btn {
    margin-top: 7px;
}
