@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Spectral');

html {
    font-family: 'Spectral', Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    background-color: #fefefe;
    color: #222;
    line-height: 1.5;
}

body {
    margin: 0;
}

@media (min-width: 400px) {
    html {
        font-size: 1.5rem;
    }

    .timezone {
        display: flex;
    }

    .timezone > .left {
        border-right: 2px solid #ddd;
        width: 20%;
    }

    .timezone > .right {
        width: 80%;
    }

    .timezone + .timezone > div {
        margin-top: 1rem;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div:first-child {
    cursor: pointer;
}

#logo {
    width: 64px;
    height: 64px;
}

#logo-text {
    font-size: 1.5rem;
    margin: 0 0 0 1rem;
}

ul {
    list-style-type: circle;
}

.App {
    max-width: 960px;
    margin: 0 auto;
}

.App > * {
    margin: 1rem;
}
