.btn-icon {
    padding: 0.5rem;
    font-size: 2rem;
}

.delete-btn {
    background: none;
    border: none;
    color: #aaa;
    font-size: 1.1rem;
    margin-left: 0.5rem;
    cursor: pointer;
    outline: none;
}

.delete-btn:hover {
    color: red;
}

.btn {
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: 'Nunito', sans-serif;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.75rem;
    color: #333;
    background: #eee;
    text-transform: uppercase;
    height: 100%;
}

.btn-large {
    font-size: 2rem;
}

.vertical-align {
    display: inline-flex;
    align-items: center;
}
